/* обнуление стилей */ /* ---------------------------------------------------------------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
/* выравнивание изображение по верху */
img {
    vertical-align: top;
}
ul,
ol,
li {
    list-style: none;
}
/* принимает свойства родительского элемента (inherit) */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1; /* устанавливает величину пространства между строками */

    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*overflow: hidden;*/
    background: #EDEEF0;

    font-family: Tahoma, 'Comic Sans MS', cursive;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.autorization{
    min-height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4A76A8;
    position: relative;
}

.autorization h6 {
    position: absolute;
    left: 20%;
    top: 35%;
    will-change: transform; /*сообщаем браузеру что собираемся изменить это свойство */
    transform: scaleX(0);
    transition: transform .4s ease-in-out
}

body h1 {
    font-weight: bold;
    font-size: 20px;
}

.button {
    cursor: pointer;
    /*border: none;*/
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
    /*box-shadow: 0 5px 0 #FFFFFF;*/
    letter-spacing: 1px;
    transition: background-color 0.3s ease 0s;

    /*position: relative;*/
}
.button:hover {
    background-color: #9098B5;
}
.button:active {
    top: 3px;
    left: 3px;
}

.autorization__input {
    min-width: 230px;
    /*min-height: 32px;*/
    background:#EDEEF0;
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
}

.profile{
    background-color: #EDEEF0;
    margin: 25px auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    max-width: 1010px;
    /*min-width: 767px;*/

}

.profile__img {
    display: inline-flex;
    justify-content: center;
    align-items: start;
    /*flex: 1 1 auto;*/
    padding: 15px 15px 45px 15px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);
}

.info__name {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-direction: row;
    border-bottom: 1px solid silver;

    background-color: #FFFFFF;
}

.profile__info {
    /*display: none;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    margin-left: 20px;
    text-shadow: 1px 1px 5px silver;
    flex: 1 1 auto;
    /*padding: 15px 15px 45px 15px;*/
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);
}

.info__info {
    display: flex;
    justify-content: flex-start;
}

.info__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px auto 15px 15px;
}

.info__label h2 {
    margin: 5px 0;
}

.info__item a {
    margin: 5px 0;
}

.info__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    margin: 15px auto 15px 102px;
}

.info__detail{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid silver;
}

.info__counters {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    /*margin: auto;*/
    /*flex: 2 1 auto;*/
    /*height: 100%;*/
    padding: 15px;
}

.info__counters div {
    position: relative;
    display: flex;
    flex-direction: column;
    /*border-radius: 50%;*/
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.info__counters label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
}

.info__counters button {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 10px;
}

.info__counters div:hover {
    background-color: #EDEEF0;
}

/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 102%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgba(0,0,0,0.5); /* Черный с непрозрачностью */
}

.modal-header {
    padding: 18px 30px 18px 30px;
    background-color: #EDEEF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    border-bottom: 1px solid silver;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-content {
    background-color: #fff;
    margin: 100px auto;
    border: 1px solid #888;
    border-radius: 15px;
    max-width: 710px;
    width: 90%;
    min-height: 74px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
    will-change: transform;
}

@keyframes animatetop {
    from {transform: translateY(-100px); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}

/* Модальное содержание/коробка */
.modal-body{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modal-body h3 {
    margin-top: 10px;
}

.followers {
    border-radius: 50%;
}

.photos {
    width: 100%;
}

.photos__orig {
    width: 100%;
    position: relative;
}

/* Кнопка закрытия */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.divSub,
.divSubFollowers,
.divSubPhotos {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 23%;
    margin: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    max-height: 158px;
}

.divSubPhotos {
    position: relative;
    max-height: 110px;
}

.modal-body button {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 10px;
}

.divSubFollowers:hover {
    background-color: #EDEEF0;
}

@media screen and (max-width: 767px) {
.profile{
    flex-direction: column;
}
.profile__info{
    margin-left: 0;
}
.info__name{
    padding: 10px;
}
}
