/* обнуление стилей */ /* ---------------------------------------------------------------------------- */
*,
*::before,
*::after {
    /*padding: 0;*/
    /*margin: 0;*/
    /*border: 0;*/
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
/* выравнивание изображение по верху */
img {
    vertical-align: top;
}
ul,
ol,
li {
    list-style: none;
}
/* принимает свойства родительского элемента (inherit) */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1; /* устанавливает величину пространства между строками */

    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    background: #EDEEF0;
    margin: 0;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.autorization{
    min-height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4A76A8;
}

.autorization .button{
    margin: 20px;
}

.autorization input{
    min-width: 230px;
    min-height: 32px;
    background:#EDEEF0;
    border-radius: 30px;
}


body h1 {
    font-weight: bold;
    font-size: 20px;
}

.profile{
    background-color: #EDEEF0;
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.profileImg {
    /*flex: 1 1 auto;*/
    padding: 15px 15px 45px 15px;
    background-color: #FFFFFF;
}

.profile__name {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    flex-direction: row;
    background-color: #FFFFFF;
}

.profile__info {
    /*display: flex;*/
    /*flex-direction: column;*/
    margin: 0 15px;
    text-shadow: 1px 1px 5px silver;
    flex: 2 1 auto;
    /*padding: 15px 15px 45px 15px;*/
    background-color: #FFFFFF;
}
